* {
    margin: 0;
    padding: 0;
}

.device-tree ul {
    padding-top: 20px;
    position: relative;
    display: flex;
}

.device-tree li {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.device-tree li::before,
.device-tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.device-tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.device-tree li:only-child::after,
.device-tree li:only-child::before {
    display: none;
}

.device-tree li:only-child {
    padding-top: 0;
}

.device-tree li:first-child::before,
.device-tree li:last-child::after {
    border: 0 none;
}

.device-tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.device-tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.device-tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.device-tree li>div {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
}
